body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./Farm.jpg");
    background-size: cover;
}
#board{
    width: 540px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 3px wheat solid;
    border-radius: 25px;
}
#board div{
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}

#board div img{
    width: 100px;
    height: 100px;
}